hidEdgePro.username: admin
hidEdgePro.password: Password1
hidEdgePro.devices.test.enabled: false
hidEdgePro.devices.coop.description: Main Entrance
hidEdgePro.devices.coop.url: http://192.168.1.33
hidEdgePro.devices.loadingbay.description: Loading Bay Door
hidEdgePro.devices.loadingbay.url: http://192.168.1.44
aws.region: us-east-1
aws.sqs.state.push: hiddoorstate
aws.sqs.control.push: hidcmdresponse
aws.sqs.control.pull: hidcmdrequest
